
a:hover { color:#red;}
body {
  background:black;
  color:#8D8D8D;
  font-family:arial;
  text-align:left;
  font-size:17px;
}
h {
  text-align:center;
  }
p {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 530px;
  margin-left: 530px;
}
ul {
  display: table;
  margin: 0 auto;
  
}
div {
  line-height: 50%;
  }
img {
    display: block;
    margin-left: 620px;
    margin-right: 620px;
    }
img {
    border: 10px solid #000;
}
table, th, td {
  border: 1px solid #30D5C8;
}
ul {
  list-style-type: disc;
}
input {
  width: 50%;
}
@media only screen and (min-width: 1024px){
  img {
    display: block;
    margin-left: auto;
    margin-right:auto;
    }
  p {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 30%;
  margin-right: 30%;
  text-align:center;
}
hr.short-line { border: 1px solid #8D8D8D;
    width:30%;
    margin-left: auto;
    margin-right: auto;
}
hr.long-line { border: 1px solid #8D8D8D;
    width:50%;
    margin-left: auto;
    margin-right: auto;
}
    }
