

a {
  text-decoration:none;
  color:#001150;
  -o-transition:color .6s ease-out, background 4s ease-in;
  -ms-transition:color .6s ease-out, background 4s ease-in;
  -moz-transition:color .6s ease-out, background 4s ease-in;
  -webkit-transition:color .6s ease-out, background 4s ease-in;
  transition:color .6s ease-out, background 4s ease-in;
}
a:hover { color:#30D5C8;}
 @font-face { font-family: font; src: url('fonts/font.ttf'); } 
 @font-face { font-family: font2; font-weight: bold; src: url('fonts/font2.ttf');}
body {
  background:black;
  color:#8D8D8D;
  font-family:font;
  text-align:left;
  font-size:17px;
}
hr.short-line { border: 1px solid #8D8D8D;
    width:40%;
}
hr.long-line { border: 1px solid #8D8D8D;
    width:50%;
}
h {
  text-align:left;
  }
p {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 530px;
  margin-left: 530px;
}
p {
  word-spacing: 1px;
}
ul {
  display: table;
  margin: 0 auto;
  
}
div {
  line-height: 50%;
  }
img {
    display: block;
    margin-left: 620px;
    margin-right: 620px;
    }
img {
    border: 10px solid #000;
}
.textborder {
  color: #A2FFFE;
  text-shadow: -1px 1px 0 #000, -1px 1px 0 #000, -1px 1px 0 #000, -1px 1px 0 #000;
}
#idselect1 {
  text-align: center;
  color: #001150;
}
table, th, td {
  border: 1px solid #30D5C8;
}
ul {
  list-style-type: disc;
}
input {
  width: 50%;
}
@media only screen and (min-width: 1024px){
  img {
    display: block;
    margin-left: auto;
    margin-right:auto;
    }
  p {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 30%;
  margin-right: 30%;
  text-align:center;
}
hr.short-line { border: 1px solid #8D8D8D;
    width:30%;
    margin-left: auto;
    margin-right: auto;
}
hr.long-line { border: 1px solid #8D8D8D;
    width:50%;
    margin-left: auto;
    margin-right: auto;
}
    }
